@import "reset.css";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 26px;
  font-family: 'Quicksand', sans-serif;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 100vh;
  width: 60%;
}

#title {
  padding: 1rem;
  background-color: #E5BB3E;
  color: #3F4043;
  text-align: left;
  width: 66.66%;
}

h1 {
  margin: 0;
  padding: .8rem 0 0 .8rem;
  font-size: 2.5rem;
}

p {
  margin: 1.7rem 0 1.9rem;
  padding-left: .8rem;
  font-size: 1.4rem;
}

button {
  margin-left: .8rem;
  border: 3px solid black;
  background-color: #E5BB3E;
  cursor: pointer;
  font-size: 1rem;
  height: 3.2rem;
  width: 8rem;
}

button:hover {
  border: 3px solid #B32E08;
}

.title__btn--icon {
  width: 1.1rem;
  vertical-align: bottom;
}

#title__btn--contact {
  margin-left: 1rem;
}

.mobile__img {
  display: none;
}

.boxes {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 1.4rem;
  height: 33.33%;
  width: 33.33%;
}

.boxes:hover {
  opacity: 0.7;
  font-family: 'Mukta Mahee', sans-serif;
}

.box__icons {
  width: 4rem;
}

.box__words {
  padding-top: 0.9rem;
}

#first {
  background-color: #5DBCA3;
  /*flex-basis: 33.33%;*/
}

#second {
  background-color: #488B8A; 
}

#third {
  background-color: #B32E08; 
}

#fourth {
  background-color: #D4EEB2;
}

#fifth {
  background-color: #E5BB3E;

}

#sixth {
  background-color: #5DBCA3;
}

#seventh {
  background-color: #488B8A;
}

#aside__background--img {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(photos/icons/steve.png);
  background-size: cover;
  height: 100vh;
  width: 40%;
}

.aside__icons {
  position: absolute;
  width: 3rem;
  z-index: 2;
}

#aside__arrow--right {
  right: 2.4rem;
  top: 24rem;
  cursor: pointer;
}

#aside__arrow--left {
  right: 34%;
  top: 24rem;
  cursor: pointer;
}

#aside__menu--dots {
  right: 2%;
  top: 2%;
}

@media (max-width: 1150px){
  main {
    width: 100%;
  }

  #title {
    text-align: center;
  }

  p {
    margin: 1.8rem 0 2rem;
    font-size: 1.4rem;
  }

  .mobile__img {
    background-image: url(photos/gang2.jpg);
    display: inline-block;
    height: 100%;
    width: 100vw;
  }

  aside {
    display: none;
  }
}

@media (max-width: 600px) {
  main {
    width: 100%;
  }

  #title {
    height: 14rem;
    width: 100%;
    padding: 1rem;
  }

  .mobile__img {
    display: inline-block;
    height: 100%;
    width: 100vw;
  }

  .boxes {
    height: 10rem;
    width: 100%;
  }

  aside {
    display: none;
  }
}

@media (max-width: 586px){
  #title {
    padding: 1.4rem;
  }

  p {
    margin: 1rem 0 1rem;
    font-size: 1.4rem;
  }
}

@media (max-width: 350px){
  #title {
    padding: 1rem;
  }

  p {
    margin: 1rem 0 1.2rem;
    font-size: 1.2rem;
  }

  button {
    width: 8rem;
    height: 3rem;
  }
}

@media (max-width: 313px){

  #title {
  height: 10rem;
  }
  button {
    display: none;
  }
}

@media (max-width: 300px){
  #title {
    height: 10rem;
  }

  .boxes {
    min-height: 5rem;
  }
}

@media (max-width: 250px){
  #title {
    height: 8rem;
  }

  h1 {
    padding-top: 1.6rem;
  }

  p {
    display: none;
  }
}

@media (max-width: 235px){
  h1 {
    padding-top: 0;
  }
}